<%# <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.core.min.js"></script> %>
<div class="align-self-center">
    <% @tracks.each do |track| %>
            <p>----------------------------------</p>
            <% if track.audio.attached? then %>
            <button> <%= link_to "play", track.audio, class: "html5" %></button>
            <% end %>

            <%# var sound = new Howl({
            src: [track.audio]
            });

            sound.play(); %>
            
            <%# link_to track.audio if track.audio.attached? %>
            <p><%= track.title %></p>
            <p><%= track.description %></p>
            <p><%= track.donate %></p>
            <p><%= link_to "#{track.user.email}", profile_path(track.user.id) %></p>

                <%= link_to "edit", edit_track_path(track.id) if current_user.id == track.user.id %>
                <%= link_to "show", track_path(track.id) %>
                <%= link_to "delete", track_path(track),
                    method: :delete,
                    data: { confirm: "Are you sure?" } if current_user.id == track.user.id %>
                <% end %>
    
</div>