<%= render '/layouts/navbar' %>
<br/>
<div class="d-flex flex-column align-items-center">
<div>
    <%= form_with(model: @track, local: true) do |form| %>
    <%# this is calling the method 'new' in the track controller#%>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :genre_id %>
            <%= form.select(:genre_id, @genre.map{|b| [b.name, b.id]}) %>
        </div>
        <div>
            <%= form.label :album %>
            <%= form.text_field :album %>
        </div>
        <div>
            <%= form.label :description %>
            <%= form.text_area :description %>
        </div>
        <div>
            <%= form.label :audio %> 
            <%= form.file_field :audio, :content_type => [ 'audio/mpeg', 'audio/x-mpeg', 'audio/mp3', 'audio/x-mp3', 'audio/mpeg3', 'audio/x-mpeg3', 'audio/mpg', 'audio/x-mpg', 'audio/x-mpegaudio' ] %>
        </div>
        <div>
            <%= form.label :donate %>
            <%= form.number_field :donate, min: 0 %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
</div>
</div>