<div class="on-top">
<h1><%= @track.title %></h1>
<p>Description: <%= @track.description %></p>
<p>Album: <%= @track.album %></p>
<p>Genre: <%= @track.genre.name %></p>
<p>Donation target: <%= @track.donate %></p>
<p>Total donations: <%= @track.total_donations %></p>

<%# if @track.audio.attached? then %>
<%# link = (link_to "play", @track.audio, class: "html5") %>
<%# root_url %>
<%# link_to @track.audio, rails_blob_path(@track.audio, disposition: 'attachment') %>
<%# @track.audio.service_url %>
<%# end %>

<%# @user_tracks.each do |track| %>
<% if @track.audio.attached? then %>

        <!-- Create a div where the audio waves will be shown --> 
        <div id="audio-spectrum"></div>

        <!-- Create action buttons -->
        <input type="button" id="btn-play" value="Play" disabled="disabled"/>
        <input type="button" id="btn-pause" value="Pause" disabled="disabled"/>
        <input type="button" id="btn-stop" value="Stop" disabled="disabled" />

        <!-- Load the wavesurferscript , in this case from a CDN -->
        <%# <script src="https://unpkg.com/wavesurfer.js"></script> %>

        <script >
            // Store the 3 buttons in some object
            var buttons = {
                play: document.getElementById("btn-play"),
                pause: document.getElementById("btn-pause"),
                stop: document.getElementById("btn-stop")
            };

            // Create an instance of wave surfer with its configuration
            var Spectrum = WaveSurfer.create({
                container: '#audio-spectrum',
                progressColor: "#03a9f4"
            });

            // Handle Play button
            buttons.play.addEventListener("click", function(){
                Spectrum.play();

                // Enable/Disable respectively buttons
                buttons.stop.disabled = false;
                buttons.pause.disabled = false;
                buttons.play.disabled = true;
            }, false);

            // Handle Pause button
            buttons.pause.addEventListener("click", function(){
                Spectrum.pause();

                // Enable/Disable respectively buttons
                buttons.pause.disabled = true;
                buttons.play.disabled = false;
            }, false);


            // Handle Stop button
            buttons.stop.addEventListener("click", function(){
                Spectrum.stop();

                // Enable/Disable respectively buttons
                buttons.pause.disabled = true;
                buttons.play.disabled = false;
                buttons.stop.disabled = true;
            }, false);


            // Add a listener to enable the play button once it's ready
            Spectrum.on('ready', function () {
                buttons.play.disabled = false;
            });
            
            // If you want a responsive mode (so when the user resizes the window)
            // the spectrum will be still playable
            window.addEventListener("resize", function(){
                // Get the current progress according to the cursor position
                var currentProgress = Spectrum.getCurrentTime() / Spectrum.getDuration();

                // Reset graph
                Spectrum.empty();
                Spectrum.drawBuffer();
                // Set original position
                Spectrum.seekTo(currentProgress);

                // Enable/Disable respectively buttons
                buttons.pause.disabled = true;
                buttons.play.disabled = false;
                buttons.stop.disabled = false;
            }, false);

            // Load the audio file from your domain !
            Spectrum.load(
                '<%= rails_blob_path(@track.audio) %>'
                                
                );
        </script>
    <% end %>


    <button data-stripe="payment"> Donate default <%= number_to_currency(1) %></button>
    <div>Set a different value:</div>
    
    <script src="https://js.stripe.com/v3/"></script>

    <script>
    document
        .querySelector("[data-stripe='payment']")
        .addEventListener("click", () => {
        const stripe = Stripe(
            "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
        );

        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
        });
    </script>
<%# end %>
</div>
<%= render "layouts/bg_change"%>