<br />
<div class="container">
  <div class="row">
    <div class="col-sm" id="login-image">
      <%= image_tag("logo2.jpg", :border=>0)%>
    </div>
    <div class="col-sm">
      <h4 class="text-danger p-2">myhar.money</h4>
      <p class="form-group p-2">The art of giving and receiving</p>
      
      <h1 class="font-weight-bold text-primary p-2">Log in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field p-2">
          <% f.label :email%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "main-fields", placeholder:"Email" %>
        </div>
        <div class="form-group p-2">
          <% f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "main-fields", placeholder:"Password"%>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group p-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="form-group p-2">
          <%= f.submit "Login", class: "btn btn-primary text-white" %>
        </div>
        <div class="form-group p-2">
          <%= render "devise/shared/links", class: "form-group p-2" %>
        </div>
      <% end %>
    </div>
  </div>
