<!DOCTYPE html>
<html>
  <head>
    <title>myhar.money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
    <%= javascript_include_tag "https://unpkg.com/wavesurfer.js" %>
    <%# added this audio player for mp3 files%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# added this line for responsive%>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
